{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}

<!-- Page -->
    <div class="page">

        <!-- Page Header-->
        <section class="page-title page-title-bg fixed-bg overlay dark-5 padding-top-160 padding-bottom-80">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="white-text">Client respository</h2>
                        <span class="white-text">Personnal & Professionnal informations</span>
                        <ol class="breadcrumb">
                            <li><a href="#!">Home</a></li>
                            <li class="active">Client</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>


    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Company_name</th>
                <th>Activity</th>
                <th>Contact_name</th>
                <th>Contact_position</th>
                <th>Phone</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                {# <td>{{ client.id }}</td> #}
                <td>{{ client.companyName }}</td>
                <td>{{ client.activity }}</td>
                <td>{{ client.contactName }}</td>
                <td>{{ client.contactPosition }}</td>
                <td>{{ client.phone }}</td>
                <td>{{ client.email }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}
